@import '../../src/sass/abstracts/variables';

.navigation {
  padding: 4rem 7vw;
  position: relative;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }

  .menu {
    background-color: #1b1924;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    border-radius: 12px;
    overflow: hidden;

    li {
      min-width: 15rem;
      flex-grow: 1;
      flex-shrink: 0;
      white-space: nowrap;
      list-style: none;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
      padding: 1rem;
      cursor: pointer;
      transition: background-color 200ms ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      
      a {
        color: currentColor;
        text-decoration: none;
      }
    }
  }

  .logo {
    width: 12rem;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
    }
  }

  .inputWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-grey-1;
    padding: 1.2rem 2rem;
    width: min(70rem, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;

    // TODO: ENABLE SEARCH FUNCTIONALITY
    pointer-events: none;

    input {
      background-color: transparent;
      color: #b2b2b2;
      border: none;
      font-size: 1.8rem;
      flex: 1;
    }

    button {
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-primary;
      font-size: 2rem;
    }
  }
}
