.sized-box {
  height: 1.5rem;
}

.gradient-input-wrapper {
  background-image: $linear-gradient-1;
  padding: 0.3rem;
}

.loading {
  display: flex;
  align-items: center;

  svg {
    transform-origin: center;
    animation: rotate 0.5s linear infinite;
  }
}
